html,body{
    overflow-x: hidden;
}
*   {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(226, 228, 122, 1);
}

h1  {
    text-align: center;
}
button  {
    margin-top: 10px;
}
section {
    display: flex;
    justify-content: center;
}
.customer-form  {
    margin-top: 20px;
}
.button {
    display: flex;
    justify-content: center;
}
.button-red {
    color: white;
    background-color: red;
    width: 30%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-top: 20px;
}
.button-green{
    color: white;
    background-color:green;
    width: 30%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-top: 20px;
}
.customer-form-field    {
    width: 15rem;
    display: block;
}
.table-wrapper  {
    width: 100%;
    display: flex;
    justify-content: center;
}
.first-row  {
    display: flex;
    justify-content: space-evenly;
    
  
}
span    {
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    flex: 0 0 20%;
	margin: 0 1%;
    overflow: hidden;
}

